body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

div,
input,
label {
  box-sizing: border-box;
}

.animation {
  opacity: 0;
  transform: translateY(20px);
  animation: slideUp 0.7s 0.2s forwards;
}

.flash {
  opacity: 0;
  animation: flashAnimation 0.5s 0.1s forwards;
}

@keyframes flashAnimation {
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
